[Unit]
Description=IPv6 Router Advertisement Daemon
After=network.target

[Service]
Type=forking
PIDFile=/run/radvd.pid
ExecStart=/usr/bin/radvd -u radvd -m syslog
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
