[Unit]
Description=IPv6 Router Advertisement Daemon
After=network.target

[Service]
Type=forking
PIDFile=/run/radvd.pid
ExecStart=/usr/bin/radvd -m syslog
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
