/pseudofile
/image.files
/image.sqfs
/initrd.list
/initrd.files
/initrd.cpio
/settings
/cache
/tools
/recipes/*/*.tar.*
/recipes/*/build.*.txt
/recipes/*/armv7hl
/recipes/*/quark
/host-recipes/*/*.tar.*
/host-recipes/*/build.txt
/host-recipes/*/armv7hl
/host-recipes/*/quark
/sysroot.*
