/pseudofile
/image.files
/image.sqfs
/initrd.list
/initrd.files
/initrd.cpio
/settings
/cache
/tools
/recipes/*/files.*
/recipes/*/pkg.*
/recipes/*/build.*
/recipes/*/tools
/recipes/*/sysroot.*
/sysroot.*
