[Unit]
Description=Multi Gadget
DefaultDependencies=no
Requires=sys-kernel-config.mount
After=sys-kernel-config.mount
Wants=serial-getty@ttyGS0.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/systemd/scripts/multigadget up
ExecStop=/etc/systemd/scripts/multigadget down

[Install]
Alias=multi-user.target.wants/multigadget.service
